@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.commissions ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}



.commissions ul li {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0.5vw;
    height: 10vh;
    width: auto;
    max-width: 15vw;
    border: 0.5vh solid #893271;
    border-radius: 5vh;
    background-size: 100%;
    background-repeat: no-repeat;text-align: center;
    overflow: hidden;
    animation: fadeInAnimation ease 2s;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition: transform 0.3s ease;
}

.commissions ul li:hover {
    transform: scale(1.1);
}

.commissions ul li:active {
    transform: scale(0.9);
}

.commissions ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: auto;
    height: 100%;
    width: 100%;
    text-shadow: black 0.1vh 0.1vh 0.2vh;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.5);
}


.commissioninfo {
    opacity: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid #ffffff;
    border-radius: 5vh;
    padding: 1vw 5vh;
    margin: 3vh 2vw;
    background-color: #893271;
    animation: fadeInAnimation ease 2s;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.commissioninfo h2 {
    font-size: 2em;
    font-weight: 400;
    color: white;
}

.commissioninfo h3 {
    font-size: 1.7em;
    font-weight: 400;
    color: white;
}

.commissioninfo p {
    text-align: center;
    font-size: 1.5em;
    font-weight: 400;
    color: white;
}

.commissioninfo a {
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 5vh;
    margin: auto;
    padding: 0.6vw 1.4vh;
    transition: color 0.3s ease;
}

.commissioninfo a:hover {
    color: #CF7793;
}