.commissionentry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #ffffff;
    border-radius: 5vh;
    padding: 5vw 5vh;
    margin: 2vw 10%;
    gap: 5vw;

    background-color: #893271;
}

.commissionentry p {
    text-align: center;
    font-size: 1.5em;
    font-weight: 400;
    color: white;
}

.commissionentry a {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 5vh;
    margin: auto;
    padding: 0.6vw 1.4vh;
    transition: color 0.3s ease, padding 0.3s ease;
}

.commissionentry a:hover {
    color: #CF7793;
    padding: 0.8vw 1.6vh;
}



.commissionentryinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.commissionentryinfo h2 {
    font-size: 1.5em;
    font-weight: 400;

}

.commissionentryinfo img {
    height: 25vh;
    margin: 10px 0;
}