@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.socials {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeInAnimation ease 2s;
    animation-delay: 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.socials ul{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.socials ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    background-color: #CF7793;
    border: #ffffff 2px solid;
    border-radius: 30px;
    padding: 10px 10px;
    margin: 0 30px;
    transition: transform 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
    font-family: Courier New, monospace;
}

.socials ul li:hover {
    transform: scale(1.1);
}

.socials ul li:active{
    transform: scale(0.9);
}

.socials img {
    fill: white;
    height: 40px;
}

.emailform {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin: auto auto;
    width: 80%;
    border: 0.4vh solid #CF7793;
    border-radius: 15vh;
    background-color: #893271;
    animation: fadeInAnimation ease 2s;
    animation-delay: 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.emailform form {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3vh;
    gap: 2vh;
    font-size: 1em;
    font-family: sans-serif;
    color: white;
}

.emailform form label {
    font-size: 1.5em;
    font-weight: bold;
    font-family: sans-serif;

}

input[type="text"] {
    font-size: 1em;
}

textarea {
    font-size: 1em !important;
    font-family: sans-serif;
}

#name {
    height: 3vh;
    width: 40%;
}

#email {
    height: 3vh;
    width: 40%;
}

#subject {
    height: 5vh;
    width: 60%;
}

#description {
    height: 10vh;
    width: 60%;
}

input[type="submit"] {
    background-color: #CF7793;
    color: white;
    border: 0.2vh solid #ffffff;
    border-radius: 15vh;
    padding: 10px 20px;
    font-size: 1em;
    font-family: sans-serif;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

input[type="submit"]:hover {
    transform: scale(1.1);
}

input[type="submit"]:active {
    transform: scale(0.9);
}

@media screen and (max-width: 768px) {
    .emailform {
        width: 80%;
    }

    #name {
        width: 80%;
    }

    #email {
        width: 80%;
    }

    #subject {
        width: 80%;
    }

    #description {
        width: 80%;
    }
}

/* Dark Mode */


.emailform {
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.socials.dark-mode ul li {
    background-color: #444444;
    border-color: darkred;
}

.emailform.dark-mode {
    border-color: darkred;
    background-color: #333333;
}

.emailform.dark-mode form input[type='submit'] {
    background-color: #444444;
    border-color: darkred;
}
